**/__pychache__/**
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/dist
/ChatApp/src/main/assets/models/llama3_2_3b/**
/ChatApp/src/main/assets/models/qwen2_5_7b_instruct/**